.supplier-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 80%;
  max-width: 400px;
  margin: 10vh auto 0; 
  height: 40vh; 
}

.supplier-dashboard h1 {
  color: #444;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.supplier-dashboard button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  font-weight: 500;
  width: 150px; 
  text-align: center; 
}

.supplier-dashboard button:hover {
  background-color: #5a5d60;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(72, 70, 70, 0.2);
}
