.purchased-items {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
  place-items: center;
  color: #090202;
  gap: 20px; 
}

.purchased-items-page {
  color: #090202;
}

.purchased-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px; 
  color: #090202;
}

.purchased-items .item img {
  width: 100%;
  max-width: 200px; 
  height: auto; 
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.purchased-items button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  width: 100%; 
  max-width: 150px; 
  padding: 10px; 
  color: #090202;
  border-radius: 15px;
}

.purchased-items button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}


@media (max-width: 767px) {
  .purchased-items {
    grid-template-columns: 1fr; 
  }

  .purchased-items .item {
    margin: 10px; 
  }
}

@media (min-width: 768px) {
  .purchased-items {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 1024px) {
  .purchased-items {
    grid-template-columns: repeat(5, 1fr);
  }

  .navbar {
    padding: 10px 20px;
  }
  .navbarLinks {
    margin-right: 40px;
  }
  .navbar a {
    font-size: 24px;
    margin-right: 30px;
  }
}
